$primaryColor: red;
$secondaryColor: beige;

.nav {
  background-color: $secondaryColor;
  border-bottom: 2px solid black;

  .nav-link{
    color: black;
  }
  #title{
    color: $primaryColor;
    font-size: 1.5rem;
  }
}

aside {
  height: 100vh;
  background-color: $secondaryColor;
  border-right: 2px solid black;
}
