$primaryColor: red;
$secondaryColor: #ffffff;
$gradientColor1: #d7d2cc;
$gradientColor2: #304352;
$accentColor1: #3E5151;
$accentColor2: #DECBA4;


*{
  font-family: 'Raleway', sans-serif;
}

.nav {
  background-color: $secondaryColor;
  z-index: 10;
  height: 50px;
  width: 100%;
  position: fixed;

  .nav-link {
    color: black;
    padding-top: 1.8rem;
    font-size: 1.2rem;
  }

  #title {
    font-size: 2rem;
    padding-top: 1rem;
    background: -webkit-linear-gradient(right, $gradientColor1, $gradientColor2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.nav-transform {
  height: 85px;
  transform: rotate(1.5deg);
  position: fixed;
  width: 110%;
  top: 0;
  left: 0;
  background-color: $secondaryColor;
  z-index: 5;
}

aside {
  height: 100vh;
  background-image: -webkit-linear-gradient($gradientColor1, $gradientColor2);
  overflow: auto;
}

body {
  overflow: hidden;
}

#accordionExample {
  text-align: left;
  background-image: -webkit-linear-gradient($secondaryColor, $gradientColor1);
  border-radius: 5px;

  .card-body {
    padding: 5px 0 5px 30px;
  }

  .card {
    background: transparent;
    color: $accentColor1;

    .collapse {
      text-align: left;
    }
  }

  .btn-link {
    font-weight: bold;
    color: $accentColor1;
  }

  .btn-link:hover {
    text-decoration: none;
  }
}

#carouselExampleControls {
  padding: 0;
}

.carousel-inner img {
  width:100vw;
  height:100vh;
  object-fit: cover;
  overflow: hidden;
}

#getRecipeBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 25px;
  padding: 5px 0;
}

form{
  text-align: center;
}

.choiceBtn {
  background-color: $accentColor1;
  color: white;
  padding: 5px 10px;
  border: none;
}

main.col-9 {
  padding-left:0;
}

#expandAll {
  width: 150px;
  border-radius: 5px 5px 0 0;
  margin-top: 100px;
}